  .background {
    top: 0px;
    left: 0px;
    width: 1156px;
    height: 792px;
    position: absolute;
    border-color: transparent;
  }
  .planets {
    top: 60px;
    width: 1120px;
    height: 344px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }

  .mesoPlanets {
    left: 290px;
    width: 400px;
    height: 300px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background: url('./images/mesoplanets.png') no-repeat;
	  object-fit: contain;
    cursor: pointer;
  }

  .mesoPlanets:hover{
    background: url('./images/mesoplanets_open.png') no-repeat;
  }



  .viper {
    width: 363px;
    height: 197px;
    border-color: transparent;
    background: url('./images/planetars.png') no-repeat;
	  object-fit: contain;
    cursor: pointer;
  }

  .viper:hover{
    background: url('./images/planetars_open.png') no-repeat;
  }

  .giants {
    left: 690px;
    width: 432px;
    height: 371px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    align-items: flex-start;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: flex-start;
    background: url('./images/grand_planets.png') no-repeat;
	  object-fit: contain;
    cursor: pointer;
  }

  .giants:hover{
    background: url('./images/grand_planets_open.png') no-repeat;
  }

  .chests {
    top: 512px;
    left: 47px;
    width: 1076px;
    height: 268px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }

  .legendaryChest {
    top: 0px;
    left: 801px;
    width: 290px;
    height: 268px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
    background: url('./images/chest3closed.png') no-repeat;
	  object-fit: contain;
    cursor: pointer;
  }

  .legendaryChest:hover{
    background: url('./images/chest3open.png') no-repeat;
  }


  .epicChest {
    top: 0px;
    left: 400px;
    width: 290px;
    height: 268px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
    background: url('./images/chest2closed.png') no-repeat;
	  object-fit: contain;
    cursor: pointer;
  }

  .epicChest:hover{
    background: url('./images/chest2open.png') no-repeat;
  }


  .rareChest {
    width: 290px;
    height: 268px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    flex-direction: row;
    background: url('./images/chest1closed.png') no-repeat;
    cursor: pointer;
  }

  .rareChest:hover{
    background: url('./images/chest1open.png') no-repeat;
  }


  @font-face{
    font-family: ClashDisplay-Medium;
    src: url(./config/ClashDisplay-Medium.ttf);
  }

  .textMain {
    left: 50px;
    color: rgba(255, 255, 255, 1);
    width: 200px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    font-family: ClashDisplay-Medium;
  }

  .boxMain{
    height: 780px;
    width: 1170px;
    margin: 0 auto;
    position: relative;
  }



  